$brown: #f5d19b;
$beige: #fff3d4;
$red: #de5d4d;
$blue: #183d4d;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Playfair+Display:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

body{
    color: $blue!important;
    background-color: $beige!important;
}

nav {
    background-color: $brown;
    overflow: hidden;
    padding: 16px;
    a {
        font-family: Playfair-Display;
        font-size: 20px;
        position: relative;
        float: right;
        display: block;
        color: $blue;
        text-align: center;
        padding: 4px 0px;
        margin-left: 25px;
        text-decoration: none;
        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 2px; /* Adjust the height of the underline */
            background-color: $blue;
            transition: width 0.3s ease; /* Adjust the transition duration and easing function */
            text-decoration: none;
        }
        &:hover{
            color: $blue;
            &::before {
                width: 100%;
        }
        }
    }
}

.home{
    .card{
        background-color: $brown!important;
    }
    .one{
        position: relative;
        cursor: pointer;
        width: 264px;
        height: 64px;
        margin: 1em auto;
      }
      
      .one .btn{
        position: absolute;
        width: 260px;
        height: 60px;
        display: flex;
        justify-content:center;
        align-items:center;
        outline: none;
        border-radius: 0px;
        color: #ad6500;
        text-transform: uppercase;
        font-family: 'Kanit', sans-serif;
        font-style: italic;
        font-size: 22px;
      }
      
      .one .front{
        top: 0;
        left: 0;
        z-index: 2;
        background: $beige;
        border: 4px solid #863b00;
        text-shadow: 0px 2px 0px #000000;
      }
      
      .one .back{
        z-index: 1;
        top: 4px;
        left: 4px;
        background: #fff;
        border: 4px solid #000;
        text-shadow: 0px 2px 0px #C9473A;
      }
      
      @keyframes swap{
        0% {top: 4px;}
        50% {top: 64px; z-index: 1;}
        100% {top: 4px; z-index: 3;}
      }
      
      .one:hover .back{
        animation: swap 1s forwards;
      }
      
}