{% extends 'base.html' %}
{% load static %}
{% block content %}
<form class="p-5">
    <h1 class="text-center">Add Your Memento</h1>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Title</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Describe Your Memory</label>
        <textarea name="" id="" class="form-control"  cols="30" rows="10"></textarea>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Add Your Image</label>
        <input type="file" class="form-control" >
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Add Your Audio</label>
        <input type="file" class="form-control" >
    </div>
    <button type="submit" class="btn btn-red">Submit</button>
</form>
{% endblock content %}